.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header {
  font-family: var(--font-mono);
  /* font-weight: 600; */
  /* font-size: 3rem; */
}

.message {
  font-family: var(--font-mono);
}

.top_panel {
  display: inherit;
  justify-content: space-evenly;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}